In [3]:
import pandas as pd
from sklearn.cluster import KMeans
from vega_datasets import data

In [8]:
data = pd.read_csv('/Users/ajitkhanal/Downloads/MS AGECON/Fall 2022/BUSN/python-2-drill-code-student/data/iris.csv')
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Using K-Means clustering, cluster the data into three clusters (dropping `species`)

1. Consider only `petal_length` and `petal_width`.
2. Do the clusters correspond to the true `species`.
3. What characterizes the clusters. Print cluster means and interpret the data
4. Consider all four attributes and compare your answer to above

In [10]:
x=data[['petal_length','petal_width']]
kmeans=KMeans(n_clusters=3)
kmeans.fit(x)

KMeans(n_clusters=3)

In [11]:
y_kmeans=kmeans.predict(x)

In [12]:
data['cluster']=y_kmeans

In [14]:
data.groupby(['species', 'cluster']).petal_width.count().unstack()

cluster        0     1     2
species
setosa       NaN  50.0   NaN
versicolor   2.0   NaN  48.0
virginica   46.0   NaN   4.0

In [28]:
data.groupby(['species', 'cluster'])['petal_length','petal_width'].mean().unstack()

/var/folders/5y/zdpklr5j41sg_c6n9gcpwj980000gn/T/ipykernel_85484/2498880141.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data.groupby(['species', 'cluster'])['petal_length','petal_width'].mean().unstack()

           petal_length                  petal_width
cluster               0      1         2           0      1       2
species
setosa              NaN  1.462       NaN         NaN  0.246     NaN
versicolor     5.050000    NaN  4.227083    1.650000    NaN  1.3125
virginica      5.619565    NaN  4.775000    2.054348    NaN  1.7000

In [18]:
#Do the clusters correspond to the true species.

In [19]:
#cluster 1 has only setosa. While cluster 2 is dominated by versicolor and cluster 1 is dominated by virginica
#there is not 100 percent accuracy though

In [20]:
#What characterizes the clusters. Print cluster means and interpret the data

In [21]:
data.groupby('cluster')[['petal_width','petal_length']].mean()

         petal_width  petal_length
cluster
0           2.037500      5.595833
1           0.246000      1.462000
2           1.342308      4.269231

In [22]:
#cluster 0 which is dominated by virginica species has the highest mean petal_width and the highest mean petal_length
#setos which only falls in cluster 1  has the lowest mean petal length and the lowest mean petal width
#cluster 2 which is dominated by versicolor has the petal widht and length in between cluster 0 and 1

In [23]:
#Consider all four attributes and compare your answer to above

In [24]:
x=data[['petal_length','petal_width','sepal_length','sepal_width']]
kmeans=KMeans(n_clusters=3)
kmeans.fit(x)
y_kmeans2=kmeans.predict(x)
data['cluster2']=y_kmeans2

In [25]:
data.groupby(['species', 'cluster2']).petal_width.count().unstack()

cluster2       0     1     2
species
setosa       NaN  50.0   NaN
versicolor   2.0   NaN  48.0
virginica   36.0   NaN  14.0

In [26]:
data.groupby('cluster')[['petal_width','petal_length','sepal_length','sepal_width']].mean()

         petal_width  petal_length  sepal_length  sepal_width
cluster
0           2.037500      5.595833      6.645833     2.997917
1           0.246000      1.462000      5.006000     3.428000
2           1.342308      4.269231      5.907692     2.755769

In [29]:
#the addition of sepal characteristics did not alter the composition of cluster 1
#it however altered the composition of clusters 0 and 2 are still dominated by viriginica and versicolor respectively
#however the percentage of versicolor in cluster 0 and percentage of virginica in cluster 2 has increased
#this might mean the petal characteristcs did better job of clustering species than when sepal traits were added